.task-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.task-form input,
.task-form textarea,
.task-form select,
.task-form button {
    font-family: 'Roboto';
    padding: 10px;
    font-size: 16px;
    border-style: hidden;
    border-radius: 5px;
}

.task-form input, .task-form select{
    color: rgb(101, 101, 101);
}

.task-form button {
    background-color: #4f33a6;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.task-form button:hover {
    background-color: #442285;
}